.sort-container {
    -fx-padding: 30px;
    -fx-background-color: #f0f0f0;
    -fx-border: 1px solid #ccc;
    -fx-
}

.line {
    -fx-stroke: #3498db;
    -fx-stroke-width: 6;
}

.AlgoNameLable {
    -fx-font-size: 20px;
    -fx-margin: 10px;
}